#container {
  display: block;
}

.blog-heading {
  font-size: 32px;
  font-weight: 800;
}

.blog-subheading {
  font-size: 20px;
}

.blog-container {
  padding-block: 50px 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.blog-card {
  width: 31%;
  min-width: 375px;
  padding: 30px;
  background-color: #ffffff;
  /* box-shadow: 2px 2px 5px 6px rgb(0, 0, 0); */
  box-shadow: 2px 2px 5px 5px rgba(80, 86, 100, 0.486);
}

/* .blog-img_container {} */

.blog-img {
  width: 100%;
}

.blog-title {
  color: #000000;
  margin-block: 10px;
  text-align: center;
}

.blog-summary {
  color: #000000;
}

.blog-btn {
  display: block;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(68, 230, 176);
  background-color: rgba(68, 230, 176, 0.158);
  color: rgb(68, 230, 176);
  font-weight: 800;
  padding: 10px 20px;
  margin: 25px auto 0;
}

.blog-btn:hover {
  background-color: rgb(68, 230, 176);
  color: #ffffff;
}

/*____Responsive Media Queries____ */

/* Laptops and Small Screens  */
@media screen and (max-width: 1024px) {
  .blog-card {
    width: 48%;
    min-width: unset;
  }
}

/* Tablets and Ipads */
@media screen and (max-width: 768px) {
  .blog-container {
    justify-content: center;
  }

  .blog-card {
    width: 77%;
    min-width: unset;
  }
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  .blog-card {
    width: 100%;
    min-width: unset;
  }
}
